$xs:$screen-xs;
$sm:$screen-sm;
$md:$screen-md;
$lg:$screen-lg;

@mixin breakpoint($value, $constraint:min) {
  @media screen and (#{$constraint}-width:#{$value}) {
    @content;
  }
}

@mixin container {
  @include container-fixed;
  @include breakpoint($sm) {
    width:$container-sm;
  }
  @include breakpoint($md) {
    width:$container-md;
  }
  @include breakpoint($lg) {
    width:$container-lg;
  }
}
