// Normalize list HTML for navigation and ensure that
// each item is prepared for side-by-side horizontal display.
@mixin horizontal-navigation {
  @include navigation;
  .navigation-item {
    float:left;
  }
}

// Normalize list HTML for navigation.
@mixin navigation {
  ol,
  ul {
    margin-top:0;
    margin-bottom:0;
    padding-left:0;
    list-style:none;
  }
  @content;
}

// Apply custom colors for a navigation item and hover state.
// This also includes the --current state of the item.
//
// @param {string} $color Standard link color
// @param {string} $hover-color Hover and current color
@mixin navigation-link-color($color, $hover-color) {
  .navigation-item {
    a {
      color:$color;
      &:hover,
      &:focus {
        color:$hover-color;
      }
    }
    &.navigation-item--current > a {
      color:$hover-color;
    }
  }
}
