nav.navbar.navbar-default.mainmenu
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#mainmenu-links", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        img.navbar-brand-logo(src="/images/logo.png", alt="XXX")
        | XXX
    #mainmenu-links.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(href="#") Page 1
        li: a(href="#") Page 2
        li: a(href="#") Page 3
        li: a(href="#") Page 4
        li: a(href="#") Page 5
