.main-menu-wrapper {
  @include size(100%, 40px);
  top: 0;
  left: 0;
  background-color: color(white);
  @include breakpoint($sm) {
    position: absolute;
  }
}
.main-menu {
  @include size(230px, 100%);
  @include transition(transform 300ms ease);
  position: absolute;
  z-index: 3;
  padding: 35px 20px;
  background-color: color(white);
  transform: translateX(-100%);
  @include breakpoint($sm) {
    @include size(100%, auto);
    position: relative;
    margin: 0 auto;
    padding: 0;
    transform: translateX(0);
  }
  &.menu--active {
    position: fixed;
    transform: translateX(0);
    .menu-toggle-button {
      padding-left: 10px;
      background-position: 10px center;
      color: color(white);
      fill: color(white);
    }
  }
  &:before {
    display: block;
    height: 30px;
    margin-bottom: 25px;
    background: transparent url('../images/logo.png') no-repeat center center;
    background-size: contain;
    content: '';
    @include breakpoint($sm) {
      display: none;
    }
  }
  .menu-toggle-button {
    @include transition(padding-left 300ms ease, background-position 300ms ease, color 300ms ease, fill 300ms ease);
    position: absolute;
    top: 14px;
    right: 0;
    height: 15px;
    padding-left: 0;
    cursor: pointer;
    line-height: 15px;
    text-transform: uppercase;
    transform: translateX(100%);
    .icon {
      float: left;
      height: 15px;
      margin-right: 10px;
    }
  }
  .menu-item {
    float: left;
    clear: both;
    margin-bottom: 13px;
    color: color(black);
    text-align: left;
    text-decoration: none;
  }
  .primary-menu-item-group {
    margin-bottom: 22px;
    border-bottom: 1px solid color(white);
    text-transform: uppercase;
    @include breakpoint($sm) {
      position: absolute;
      right: 20px;
      margin-bottom: 0;
      border-style: none;
    }
    .menu-item {
      margin: 10px 0 22px;
      @include breakpoint($sm) {
        clear: none;
        margin-left: 40px;
      }
    }
    .menu-item--active {
      @include font(lato, bold);
    }
  }
}
