.main-menu-wrapper {
  top:0;
  left:0;
  width:100%;
  height:42px;
  background-color:color(white);
  @include breakpoint(sm) {
    position:absolute;
  }
}
.main-menu {
  position:absolute;
  z-index:3;
  width:230px;
  height:100%;
  padding:35px 20px;
  background-color:color(white);
  transition:transform 300ms ease;
  transform:translateX(-100%);
  @include breakpoint(sm) {
    // @include grid-row();
    position:relative;
    width:100%;
    height:auto;
    margin:0 auto;
    padding:0;
    transform:translateX(0);
  }
  &.menu--active {
    position:fixed;
    transform:translateX(0);
    .menu-toggle-button {
      padding-left:10px;
      background-position:10px center;
      color:color(white);
      fill:color(white);
      span {
        display:none;
        @include breakpoint(sm) {
          display:block;
        }
      }
    }
  }
  &:before {
    display:block;
    height:30px;
    margin-bottom:25px;
    background:transparent url('../images/logo.png') no-repeat center center;
    background-size:contain;
    content:'';
    @include breakpoint(sm) {
      display:none;
    }
  }
  .menu-toggle-button {
    @include font(oswald, bold);
    position:absolute;
    top:14px;
    right:0;
    height:15px;
    padding-left:0;
    cursor:pointer;
    line-height:15px;
    text-transform:uppercase;
    transition:padding-left 300ms ease, background-position 300ms ease, color 300ms ease, fill 300ms ease;
    transform:translateX(100%);
    @include breakpoint(sm) {
      display:none;
    }
    .icon {
      float:left;
      height:15px;
      margin-right:10px;
    }
  }
  .menu-item {
    float:left;
    clear:both;
    margin-bottom:13px;
    color:color(black);
    text-align:left;
    text-decoration:none;
  }
  .primary-menu-item-group {
    @include font(oswald, light);
    @include font-size(22px, 22px);
    margin-bottom:22px;
    border-bottom:1px solid color(white);
    text-transform:uppercase;
    @include breakpoint(sm) {
      position:absolute;
      right:20px;
      margin-bottom:0;
      border-style:none;
    }
    .menu-item {
      margin:10px 0 22px;
      @include breakpoint(sm) {
        clear:none;
        margin-left:40px;
      }
    }
    .menu-item--active {
      @include font(oswald, bold);
    }
  }
  .secondary-menu-item-group {
    @include breakpoint(sm) {
      @include font-size(14px);
      position:absolute;
      top:0;
      right:20px;
    }
    .menu-item {
      margin-bottom:13px;
      @include breakpoint(sm) {
        clear:none;
        margin-top:10px;
        margin-bottom:0;
        margin-left:10px;
        padding-left:10px;
        border-left:1px solid color(white);
      }
      &:first-child {
        border-style:none;
      }
    }
  }
  .tertiary-menu-item-group {
    @include breakpoint(sm) {
      display:none;
    }
  }
}
.menu-item {
  &:hover {
    color:color(red, medium);
  }
  &.menu-item--active {
    color:color(black);
    cursor:default;
  }
}
