$colors:(
  white:#fff,
  black:#000,
  green:(
    bright:#7cc24d,
    soft:#bee0a6
  ),
  blue:(
    bright:#08c0de,
    soft:#8dd0ea,
    grey:#8da3b5
  ),
  red:(
    bright:#ef3d4e,
    soft:#e99e8a,
    softer:#e5a590
  ),
  orange:(
    bright:#e4a52a,
    soft:#e3b459,
    dark:#d0986c
  ),
  grey:(
    dark:#656868,
    medium:#ccc,
    light:#eff0f0
  )
);
